@media screen and (max-width: 450px) {
    #BetaNotice {
        box-sizing: border-box;
        display: block;
        font-size: 13px;
        font-weight: 400;
        opacity: 0.87;
        filter: alpha(opacity=87);
    }
}

@media screen and (min-width: 451px) {
    #BetaNotice {
        background-color: #FF8F00;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        box-sizing: border-box;
        display: inline-block;
        height: 72px;
        margin-left: 16px;
        margin-top: -16px;
        max-height: 72px;
        padding: 16px 24px;
        position: relative;
    }

    #BetaNotice:after {
        border-color: transparent #FF6F00 transparent transparent;
        border-style: solid;
        border-width: 0 8px 8px 0;
        bottom: 0px;
        content: '';
        height: 0;
        left: -8px;
        position: absolute;
        width: 0;
    }
}

#PixelCircleGenerator {
    -webkit-align-content: center;
       -ms-flex-line-pack: center;
            align-content: center;
      -webkit-box-align: start;
    -webkit-align-items: flex-start;
         -ms-flex-align: start;
            align-items: flex-start;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: space-around;
              -ms-flex-pack: distribute;
            justify-content: space-around;
    padding: 72px 8px 56px 8px;
}

.cardview {
    background-color: #FAFAFA;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-sizing: border-box;
    margin: 8px;
    padding: 16px;
    position: relative;
}

#DimensionsAndOverviewWrapper {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    min-width: 344px;
}

#DimensionsWrapper {
    max-width: 600px;
    position: relative;
}

#OverviewWrapper {
    max-width: 600px;
    position: relative;
}

#DimensionsInput {
    -webkit-align-content: center;
       -ms-flex-line-pack: center;
            align-content: center;
        -webkit-box-align: center;
      -webkit-align-items: center;
           -ms-flex-align: center;
              align-items: center;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
            justify-content: flex-start;
}

.SwitchField {
    position: relative;
    display: block;
}

.SwitchField > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
    margin-left: 16px;
}

.SwitchField > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.SwitchField > label::after {
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.SwitchField > input[type="checkbox"]:checked + label::before {
    background-color: #9E9E9E;
}

.SwitchField > input[type="checkbox"]:checked + label::after {
    background-color: #9E9E9E;
    left: 20px;
}

.InputField { 
     -webkit-box-flex: 1; 
    -webkit-flex-grow: 1; 
    -ms-flex-positive: 1; 
            flex-grow: 1;
    margin: 16px 8px;
    position: relative;
}

.highlight {
    bottom: 0;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
}

.bar {
    display: block;
    position: relative;
    width: 100%;
}

.bar:before,
.bar:after {
    background: #1E88E5; 
    bottom: 1px; 
    content: '';
    height: 2px; 
    position: absolute;
    -webkit-transition: 0.2s ease all;
            transition: 0.2s ease all; 
    width: 0;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%; 
}

.InputField > label {
    color: #9E9E9E; 
    font-size: 14px;
    left: 8px;
    pointer-events: none;
    position: absolute;
    top: 8px;
    -webkit-transition:0.2s ease all;
            transition:0.2s ease all; 
}

#ButtonWrapper {
    height: 31px;
    position: relative;
}

#visualise {
    background-color: #1E88E5;
    border-radius: 2px;
    border: none;
    box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, .12), 0 0 4px 0 rgba(0, 0, 0, .12);
    color: #F5F5F5;
    cursor: pointer;
    display: block;
    padding: 8px 16px;
    position: absolute;
    right: 0;
    -webkit-transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
            transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
}

#visualise:hover {
    background-color: #2196F3;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
};

#visualise:active {
    background-color: #0D47A1;
    box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, .12), 0 0 4px 0 rgba(0, 0, 0, .12);
}

#circumference {
	cursor: text;
	-webkit-user-select: text;
	   -moz-user-select: text;
	    -ms-user-select: text;
	        user-select: text;
}

.noselect {
    -webkit-user-select: none !important;
       -moz-user-select: none !important;
        -ms-user-select: none !important;
            user-select: none !important;
}

#VisualWrapper {
     -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
            flex-grow: 2;
    min-width: 344px;
    overflow: hidden;
    width: 0;
}

#loading {
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
    position: absolute;
    top: 50%;
}

.spinner {
    -webkit-animation: rotator 1.4s linear infinite;
            animation: rotator 1.4s linear infinite;
}

.path {
    -webkit-animation: dash 1.4s ease-in-out infinite;
            animation: dash 1.4s ease-in-out infinite;
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    stroke: #1E88E5;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
}

#lightbox {
    background-color: rgba(33, 33, 33, 0.33);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
}

#popup {
    height: 180px;
    left: 50%;
    margin-left: -160px;
    margin-top: -90px;
    position: absolute;
    top: 50%;
    width: 320px;
}

@-webkit-keyframes inputHighlighter {
    0%  {
        background: #1E88E5;
    }
    99% {
        background: transparent;
        width: 100%;
    }
    100% {
        width: 0;
    }
}

@keyframes inputHighlighter {
    0%  {
        background: #1E88E5;
    }
    99% {
        background: transparent;
        width: 100%;
    }
    100% {
        width: 0;
    }
}

@-webkit-keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
                transform: rotate(270deg);
    }
}

@keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
                transform: rotate(270deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
                transform: rotate(450deg);
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
                transform: rotate(450deg);
    }
}
